<% provide(:title, "Add Employee") %>
<div class="col-md-10">
	<div class="content-box-large">
		<div class="panel-heading">
          <div class="panel-title">Add New Employee</div>

          <div class="panel-options">
            <%= link_to employees_path do %>
              <i class="glyphicon glyphicon-list"></i>
            <% end %>
          </div>
      </div>
		<div class="panel-body">
			<%= render 'form', employee: @employee %>
		</div>
	</div>
</div>
