<% provide(:title, "Edit Third Party") %>
<div class="col-md-10">
	<div class="content-box-large">
		<div class="panel-heading">
          <div class="panel-title">Edit Employee</div>
          <div class="panel-options">
            <%= link_to @third_party do %>
              <i class="glyphicon glyphicon-list-alt"></i>
            <% end %>
            <%= link_to third_parties_path do %>
              <i class="glyphicon glyphicon-list"></i>
            <% end %>

          </div>
      </div>
		<div class="panel-body">
			<%= render 'form', third_party: @third_party %>
		</div>
	</div>
</div>
