<% provide(:title, "Add Purchase") %>
<div class="col-md-10">
	<div class="content-box-large">
		<div class="panel-heading">
          <div class="panel-title">Create new purchase</div>

          <div class="panel-options">
            <%= link_to purchases_path do %>
              <i class="glyphicon glyphicon-list"></i>
            <% end %>
          </div>
      </div>
		<div class="panel-body">
			<%= render 'form', purchase: @purchase %>
		</div>
	</div>
</div>
