<% provide(:title, "Edit Tax") %>
<div class="col-md-10">
  <div class="content-box-large">
    <div class="panel-heading">
          <div class="panel-title">Edit Tax</div>
          <div class="panel-options">
            <%= link_to @tax do %>
              <i class="glyphicon glyphicon-list-alt" title="View this tax type"></i>
            <% end %>
            <%= link_to taxes_path do %>
              <i class="glyphicon glyphicon-list" title="List all taxes"></i>
            <% end %>

          </div>
      </div>
    <div class="panel-body">
      <%= render 'form', tax: @tax %>
    </div>
  </div>
</div>
