<% provide(:title, "Edit leave type for employee") %>
<div class="col-md-10">
	<div class="content-box-large">
    	<div class="panel-heading">
          <div class="panel-title">Add Leave <small> for <%= @employee.name %></small></div>
        </div>
    	<div class="panel-body">
    	    <%= render 'form', employee: @employee, leave: @employee_leave %>
    	</div>
    </div>
</div>
